.experiences h1 {
    font-size: calc(var(--title-size)1.05);
    font-family: var(--font-title);
    text-shadow: 5px 3px 5px var(--light-grey);
    margin-block-start: 0.4em;
}

.experiences h1:hover {
    color: var(--red);
}

.experiences h2 {
    font-family: var(--font-title);
    font-size: calc(var(--subtitle-size)1.1);
    color: var(--dark-grey);
    margin-top: 6em;
    text-shadow: 5px 3px 5px var(--dark-grey);
}

.experiences p {
    margin-block-start: 0.5em;
    margin-block-end: 1em;
    margin-inline: 1em;
    font-size: calc(var(--text-size)*1.3);
}