* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: 'witcherfont';
    src: url(witcherfont.ttf);
}

@font-face {
    font-family: 'classic-font';
    src: url('classic-font.ttf');
}

:root {
    --light-grey: #f7f7f7;
    --medium-grey: #a0a0a1;
    --dark-grey: #232229;
    --red: #e60000;
    --font-title: 'witcherfont';
    --font-classic: 'classic-font';
    --title-size: 2em;
    --subtitle-size: calc(var(--title-size) / 1.5);
    --text-size: 1.3em;
    padding: 0%;
}


nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0;
    font-family: var(--font-title);
    height: 4.5em;
    width: 100%;
    background-color: var(--dark-grey);
}

.navtitle {
    color: var(--light-grey);
    font-size: 40px;
    margin-left: 50px;
    
    

}



.navtitle:hover {
    color: var(--red);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('KaerMorhen.png');
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.photo {
    background-image: url('photo_geralt.png');
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: 0.25em solid;
    border-color: var(--dark-grey);
    background-repeat: no-repeat;
    background-size: cover;
    margin-block-start: 1.5em;
}

header h1 {
    font-size: calc(var(--title-size)1.05);
    font-family: var(--font-title);
    text-shadow: 5px 3px 5px var(--light-grey);
    margin-block-start: 0.4em;
}

header h2 {
    font-family: var(--font-title);
    font-size: calc(var(--subtitle-size)1.1);
    color: var(--light-grey);
    margin-top: 6em;
    text-shadow: 5px 3px 5px var(--dark-grey);
}
.networks {
    display: flex;
    flex-direction: column;
    background-image: url(grey-pattern.jpg);
   
    height: 13em;
    width: 100%;
    font-size: 10px;
    color: var(--dark-grey);
}

.networks h1 {
    font-family: var(--font-title);
    font-size: calc(var(--title-size)*1.35);
    text-align: center;
    justify-content: flex-start;
    margin-block-start: 0.8em;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 30px;
    gap : 0.8em;
    margin-block-start: 1em;
}

.icons a {
  color: var(--dark-grey);
}

.networks h1:hover {
    color: #e60000;
}

.icons a:hover {
    color: var(--red);
}

footer {
    font-family: var(--font-classic);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-grey);
    color: var(--light-grey); 
    height: 2.5em;
    width: 100%;
    font-size: 10px;
}
