.skills h1 {
    font-family: var(--font-title);
    margin-inline: 0.2em;
    margin-block-start: var(--spacing);
    margin-block-end: var(--spacing);
    text-align: center;
}


.skills h1:hover {
    color: var(--red);
}

.skills-bar .bar2 {
    margin: 20px 0;
    margin-inline: var(--spacing);
}

.skills-bar .bar2:hover {
    color: var(--red);
}

.skills-bar .bar2:first-child {
    margin-top: 0px;   
}

.skills-bar .bar2 .info {
    margin-bottom: 5px;
}

.skills-bar .bar2 .info span {
    font-size: 17px;
    font-weight: 500;
    opacity: 0;
    animation: showText 0.5s 1.5s linear forwards;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.skills-bar .bar2 .progress-line {
    height: 10px;
    width: 95%;
    background: #d2d2d2;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
        0px 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar2 .progress-line span {
    width: 80%;
    height: 10px;
    background: var(--dark-grey);
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar2 .progress-line span:hover {
    background: var(--red);
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-line.php span {
    width: 90%;
}

.progress-line.html span {
    width: 80%;
}

.progress-line.mysql span {
    width: 90%;
}

.progress-line.css span {
    width: 40%;
}

.progress-line.js span {
    width: 70%;
}




.progress-line.hunt span {
    width: 90%;
}

.progress-line.alchimie span {
    width: 65%;
}

.progress-line.epee span {
    width: 90%;
}

.progress-line.equitation span {
    width: 80%;
}

.progress-line.bagarre span {
    width: 85%;
}



.progress-line.rigor span {
    width: 90%;
}

.progress-line.creativity span {
    width: 70%;
}

.progress-line.stress span {
    width: 95%;
}

.progress-line.maitrise span {
    width: 85%;
}

.progress-line.communication span {
    width: 40%;
}

.bar2 .progress-line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.bar2 .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
}

.progress-line.php span::after {
    content: "90%";
}

.progress-line.html span::after {
    content: "80%";
}

.progress-line.mysql span::after {
    content: "90%";
}

.progress-line.css span::after {
    content: "40%";
}

.progress-line.js span::after {
    content: "70%";
}



.progress-line.hunt span::after {
    content: "90%";
}

.progress-line.alchimie span::after {
    content: "65%";
}

.progress-line.epee span::after {
    content: "90%";
}

.progress-line.equitation span::after {
    content: "80%";
}

.progress-line.bagarre span::after {
    content: "85%";
}


.progress-line.rigor span::after {
    content: "90%";
}

.progress-line.creativity span::after {
    content: "70%";
}

.progress-line.stress span::after {
    content: "95%";
}

.progress-line.maitrise span::after {
    content: "85%";
}

.progress-line.communication span::after {
    content: "35%";
}

.progress-line.communication {
    margin-block-end: var(--spacing-xl);
}


h2 {
    font-size: var(--subtitle-size);
    font-family: var(--font-classic);
    margin-inline: var(--spacing);
    font-style: italic;
    font-weight: 100;
    text-align: center;
}

.skills-bar .bar2 .info span {
    font-size: var(--text-size);
    font-weight: 700;
}


.picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 320px;
    height: auto;
    margin-block-start: var(--spacing-xl);
    margin-block-end: var(--spacing);
    border: 1px solid;
}

hr {
    margin-block: var(--spacing-xl);
}



@media screen and (min-width: 834px) {


    .skills h1 {
        font-size: calc(var(--title-size)*1.1);
    }

    .picture {
        flex-direction: row;
        justify-content: center;
        gap: var(--spacing-xl);
    }

    img {
        width: 380px;
        margin-inline-start: var(--spacing-xl);
    }

    h2 {
        font-size: calc(var(--title-size)/1.2);
    }

    .skills-bar {
        margin-block-end: 3em;
    }

    .skills-bar .bar {
        margin-block: 2em;
        margin-inline-start: calc(var(--spacing-xl)*1.2);
    }

    .skills-bar .bar .info span {
        font-size: calc(var(--title-size)/1.1);
    }

    .bar .progress-line span::after {
        font-size: 20px;
        padding: 0 8px;
    }
}

@media screen and (min-width: 1200px) {

    img {
        width: 450px;
    }

    h2 {
        font-size: calc(var(--title-size)/1.1);
    }
}